@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@400..900&display=swap');



.nav-link, .navbar-brand {
    font-family: poppins;
    color: rgb(0, 0, 0) !important;
    font-weight: 800;
}


.bg-body-transparent {
  background: transparent;
  transition: background 0.3s ease;
}

.navbar-scrolled {
  background: rgb(255, 255, 255); 
  transition: background 0.3s ease;
}
